<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WSEXAMPLE</title>
</head>
<body>
    <h2>Hola User: {{request.user}}, este es el API de ejemplo.</h2>
</body>
</html>